.signup {
  width: 500px;
  height: 320px;
  padding: 30px;
  margin: 140px auto 0 auto;
  background-color: #1481BA;
}

input {
  margin: 15px auto;
}

@media screen and (max-width: 860px){

  .signup {
    height: 340px;
  }

}

@media screen and (max-width: 720px){

  .signup {
    width: 90%;
    padding: 10px;
  }

}

@media screen and (max-width: 500px){

  .signup {
    height: 350px;
  }

}

