.signup {
  padding: 30px;
  margin: 160px auto 0 auto;
  width: 80%;
  max-width: 500px;
  background-color: rgba(8, 51, 68, 0.6);
  border-radius: 12px;
}

.signup form {
  height: 300px;
}

@media screen and (max-width: 768px){

  .signup {
    margin-top: 140px;
  }

}

@media screen and (max-width: 640px){

  .signup {
    margin-top: 120px;
  }

}



/* @media screen and (max-width: 860px){

  .signup {
    height: 340px;
  }

}

@media screen and (max-width: 720px){

  .signup {
    padding: 10px;
    width: 90%;
  }

}

@media screen and (max-width: 500px){

  .signup {
    height: 350px;
  }

} */
