.card {
  box-sizing: border-box;
  margin: 15px 15px;
  width: 220px;
  height: 350px;
  background-color: #1481BA;
  border-radius: 12px;
}

.card img {
  position: relative;
  top: 10px;
  width: 200px;
  height: 300px;
  filter: drop-shadow(5px 5px 5px);
  border-radius: 6px;
}

.card button {
  position: relative;
  bottom: 340px;
  right: -56px;
  margin-right: -30px;
}

.favorite img {
  width: 202px;
  height: 302px;
  box-shadow: 0px 0px 20px 5px #EDBE5F;
  transition: box-shadow 0.5s;
}

.favorite .movieDetails {
  top: -311px;
  left: 9px;
  width: 202px;
  height: 302px;
}

.addFaveError, .movieDetails {
  position: relative;
  top: -310px;
  left: 10px;
  width: 200px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
}

.addFaveError {
  top: -663px;
  padding-top: 50px;
  height: 250px;
}

.addFaveError a {
  color: blue;
  background: none;
}

.movieDetails {
  opacity: 0;
  border-radius: 6px;
  transition: opacity 0.5s;
}

.movieDetails:hover {
  opacity: 1;
}

.hidden {
  visibility: hidden;
}

.title, .overview {
  position: relative;
  top: 15px;
  margin-bottom: 15px;
  padding: 0 5px;
}

.overview {
  top: 0;
  height: 240px;
  padding: 0 10px;
  overflow: auto;
}

.overview p {
  text-align: left;
}

.title h4 {
  margin: 15px 0;
  color: #001021;
}

.movieDetails p {
  font-size: 14px;
}

.rating {
  position: absolute;
  left: -5px;
  bottom: -30px;
  width: 200px;
  text-align: left;
}

img.addFavoriteIcon {
  top: -330px;
  right: -65px;
  height: 50px;
  width: 50px;
  z-index: 96;
  cursor: pointer;
  box-shadow: none;
  transition: transform 0.5s;
}

.favorite img.addFavoriteIcon {
  filter: hue-rotate(270deg);
  top: -335px;

}

img.addFavoriteIcon:hover {
  transform: scale(1.2);
}

img.addFavoriteIcon:hover .addFaveError {
  top: -680px;
  width: 202px;
}

/* Loader */

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries */

@media screen and (max-width: 768px){

  .card {
    margin: 12px 12px;
    width: 165px;
    height: 263px;
  }

  .card img {
    top: 5px;
    width: 150px;
    height: 225px;
  }

  .addFaveError {
    top: -498px;
    left: 7px;
    width: 151px;
    height: 214px;
    padding-top: 10px;
    border-radius: 5px;
  }

  .movieDetails, .favorite .movieDetails {
    border-radius: 3px;
    top: -232px;
    left: 5px;
    width: 150px;
    height: 225px;
  }

  .rating {
    left: -12px;
    bottom: -26px;
    width: 120px;
    font-size: 12px;
  }

  .title {
    top: 8px;
    margin-bottom: 8px;
  }

  .title h4 {
    margin: 8px 0;
    font-size: 12px;
  }

  .overview {
    height: 184px;
    padding: 0 6px;
  }

  .overview p {
    margin: 4px 0;
    font-size: 12px;
  }

  img.addFavoriteIcon {
    top: -248px;
    right: -48px;
    height: 38px;
    width: 38px;
  }

  .favorite::first-child {
    left: 1px;
  }

}