.header {
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 97;
  background-color: #001021;
  /* display: flex; */
  /* justify-content: flex-start */
}

.header h1 {
  color: #f5f5f5;
}

.welcome {
  position: absolute;
  top: -10px;
  right: 10px;
}

h5 {
  color: #f5f5f5;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #034748;
  /* position: absolute; */
  width: 100vw;
  /* right: 10px; */
  z-index: 98;;
}

.nav-link-wrapper {
  display: inline-block;
  height: 18px;
  /* width: 100px; */
  padding: 10px 20px;
  /* margin: 25px; */
  /* border: 1px solid black; */
  background-color: #034748;
}

a {
  color: #f5f5f5;
  background-color:#034748;
  padding: 5px;
  text-decoration: none;
}

.active {
  color: #11B5E4;
  /* background-color: #1481BA; */
}

@media screen and (max-width: 640px){

  /* .header {
    height: 100px;
  }
 */
  .header h1 {
    font-size: 24px;
    margin-top: 36px;
  }

  .welcome {
    font-size: 12px;
  }

}

@media screen and (max-width: 500px){

  .login {
    padding: 10px;
  }
  
  input, form button {
    width: 200px;
    margin: 0 auto;
  }

  form {
  margin: auto;
  width: 90%;
}


}

