.header {
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 97;
  background-color: #001021;
}

.film-reel {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 96px;
  height: 29px;
  z-index: 0;
}

.header h1 {
  display: inline-block;
  color: #f5f5f5;
  z-index: 1;
  font-family: 'Josefin Sans', sans-serif;
}

.sub-title {
  position: relative;
  top: -6px;
  padding: 5px 2px 2px 2px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  font-size: 14px;
}

.welcome {
  position: absolute;
  top: -10px;
  right: 10px;
}

h5 {
  color: #f5f5f5;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #034748;
  z-index: 98;
}

.nav-link-wrapper {
  display: inline-block;
  padding: 10px 20px;
  height: 18px;
  background-color: #034748;
}

a {
  color: #f5f5f5;
  background-color:#034748;
  text-decoration: none;
}

a:hover {
  color: #001021;
  text-decoration: underline;
}

.active {
  color: #11B5E4;
}

@media screen and (max-width: 640px){

  .header h1 {
    font-size: 24px;
    margin-top: 36px;
  }

  .sub-title {
    top: -3px;
  }

  .film-reel {
    left: 79px;
    height: 22px;
  }

  .welcome {
    font-size: 12px;
  }

}

@media screen and (max-width: 500px){

  .login {
    padding: 10px;
  }
  
  input, form button {
    width: 200px;
    margin: 0 auto;
  }

  form {
    width: 90%;
    margin: auto;
  }

}
